---
layout: default
disqus: false
---
<header class="bloghead">
    <h1 class="bloghead-title">
    <a href="{{ site.url }}/">{{ site.name }}<span class="head-tail">&#39;s Blog</span></a>
  </h1>
    <!-- <nav class="bloghead-nav">
        {% for nav in site.nav %}
        <a href="{{ nav.href }}">{{ nav.name }}<span> &nbsp;/&nbsp; </span></a> {% endfor %}
    </nav> -->
</header>
<div class="content">
    {% if site.posts.size == 0 %}
    <h2>No post found</h2> {% else %} {% for post in paginator.posts %}
    {% if post.notshow %}
    <!-- Not show up-->
    {% else %}
    <div class="post-list">
        <h2 class="post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <p>
            {% if post.description %}
                {{ post.description }}
            {% endif %}

            <span class="post-info" style="display: block">Posted by {% if post.author %}{{ post.author }} {% else %} Kean {% endif %}
                on <time>{{ post.date | date_to_string }}</time>
            </span>
        </p>
        <!-- <div class="post-info">
            <span>Posted by {% if post.author %}{{ post.author }} {% else %} Kean {% endif %}
                on <time>{{ post.date | date_to_string }}</time></span>
        </div> -->


    </div>
    {% endif %}
    {% endfor %} {% if paginator.total_pages > 1 %}
    <div class="pages">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">></a>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}
</div>
