<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-image: url({{ site.background }});">
        <img src="{{site.avater}}" class="img-circle" />
        <h3 class="site-name">
            <span class="name-left">K</span>
            <span class="name-dot">•</span>
            <span class="name-right">Echo</span>
        </h3>
        <p class="heart-wrapper"><i class="fa fa-heart beat-heart" style="color: red; font-size: 1em; text-align: center; margin:0;"> </i></p>
        <p class="site-des">{{ site.description }}</p>
        <!-- <div class="nav-wrapper"> -->
        <p class="navbar">
            <a type="button" href="/" title="主页"><i class="fa fa-home"></i></a>
            <a type="button" href="/" title="归档"><i class="fa fa-archive"></i></a>
            <a type="button" href="/" title="标签"><i class="fa fa-tags"></i></a>
            <a type="button" href="/" title="分类"><i class="fa fa-th-list"></i></a>
            <a type="button" href="/about" title="关于"><i class="fa fa-info-circle"></i></a>
        </p>
        <!-- <img src="/images/coding.svg" class="coding"> -->
        
        <!-- </div> -->
        <!-- <ul class="social">
            {% if site.github %}

            {% endif %} {% if site.twitter %}
            <a type="button" href="http://twitter.com/{{ site.twitter }}">
                <i class="fa fa-twitter"></i>
            </a>
            {% endif %} {% if site.linkedin %}
            <a type="button" href="http://linkedin.com/in/{{ site.linkedin }}">
                <i class="fa fa-linkedin"></i>
            </a>
            {% endif %} {% if site.pinterest %}
            <a type="button" href="http://pinterest.com/{{ site.pinterest }}">
                <i class="fa fa-pinterest"></i>
            </a>
            {% endif %} {% if site.facebook %}
            <a type="button" href="http://facebook.com/{{ site.facebook }}">
                <i class="fa fa-facebook"></i>
            </a>
            {% endif %}
        </ul> -->
    </div>
    <div class="posts">
        {{ content }}
        <!-- <img src="/images/coding.svg" style="position: absolute; bottom: 0px;  color: white; left: 50%; z-index: 1000"> -->
    </div>
        <!-- <img src="/images/coding-b.svg" class="codingb"> -->
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }

</script>
</html>
