---
layout: default
---

<!-- {% include header.html %} -->

<div class="content post">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post">
        {{ content }}
        {% if page.date %}
            <p class="post-date">
                <span >
                    Written on {{ page.date | date_to_string }}
                </span>
            </p>
        {% endif %}
    </div>
</div>
<div style="height: 20%">
</div>
{% if site.disqus_shortname %}
    {% include disqus_comments.html %}
{% endif %}
